@import "tailwindcss";

@keyframes colorAnimate {
    from{
        background-color: red;
    }
    to{

        background-color: blue;
    }

}
.colorAnimate {
    animation: colorAnimate 0.25s infinite;
}